---
title: Thank You!
nav: contact
---

<% if send_mail("contact-thankyou", subject: "Thank You for Your Submission") %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Thank You!</h1>
    </div>
  </div>

  <div class="container">
    <p>We will get back to you as soon as possible.</p>
  </div>

<% else %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Error Sending Email</h1>
      <p>If you're wanting to send test emails make sure you have mailcatcher installed with <kbd>gem install mailcatcher</kbd> and that it is running. Next make sure you're template is located in /mailers/ and <kbd>/data/config.yml</kbd> has been configured properly.</p>
    </div>
  </div>

<% end %>