---
title: About Us
nav: about
subnav:
description: About Us
---

<div class="jumbotron text-center">
  <div class="container">
    <h1>About Us</h1>
    <p>Something to describe tata</p>
  </div>
</div>

<div class="container">
  <p></p>

  <div class="row">
    <% 3.times do %>
      <div class="col-md-4">
        <h4>Section Titles</h4>
        <p>something describing sections</p>
        <p><a href="" class="btn btn-default">Read More</a></p>
      </div>
    <% end %>
  </div>
</div>
