---
title: About Us
nav: about
subnav:
description: About Us
---

<div class="jumbotron text-center">
  <div class="container">
      <h1><%= data.company.name %></h1>
      <p>About Us</p>
  </div>
</div>

<div class="container">
    <p>Something about the company, when it started, what we do etc</p>
</div>
